@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Protest+Revolution&display=swap");

#content {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
header {
  background-color: rgb(140, 114, 81);
  contain: content;
  height: auto;
  margin: 0px;
  padding: 0px;
}
#logo {
  display: inline;
  float: left;
  height: auto;
  width: 20%;
}
#logo img {
  width: 125px;
  margin: 20px;
}
#nav {
  display: inline;
  float: left;
  width: 80%;
  height: 30px;
  margin-top: 70px;
}
#nav a {
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;
  font-size: 28px;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "protest revolution", sans-serif;
  font-weight: 700;
  transition: color 0.5s;
}
#nav a:hover {
  color: rgb(141, 61, 61);
  transform: scale(1.1);
}
#hero {
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 3/2;
  margin: 0px;
  float: left;
  width: 100%;
}
#hero-msg {
  font-family: "protest revolution", sans-serif;
  color: rgb(233, 228, 228);
  margin-top: 0px;
  padding: 10px;
  width: 100%;
  float: left;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 20px;
}
#hero-msg h1 {
  text-align: center;
}
#hero-msg h4 {
  text-align: center;
}
.icon {
  width: 80px;
}
#hero-img {
  width: 100%;
}
.button-box {
  text-align: center;
  padding: 10px;
  background-color: white;
  margin: auto;
  width: fit-content;
  border-radius: 10px;
  font-family: "poiret one", sans-serif;
  font-weight: 700;
}
.button-box:hover {
  font-weight: 1000;
  width: fit-content;
  margin: auto;
  transform: scale(1.1);
}
main section {
  text-align: center;
  font-family: "poiret one", sans-serif;
  font-weight: 700;
}
body {
  background-color: #d6bebe;
  width: 100%;
}
.rivers-card,
.camping-card,
.rapids-card {
  width: 30%;
  float: left;
  margin: 1.5%;
  font-family: "poiret one", sans-serif;
  font-weight: 800;
}
.rivers-card .card-img,
.camping-card .card-img,
.rapids-card .card-img {
  width: 85%;
  border-color: rgb(138, 114, 81);
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
}
.book {
  color: black;
  text-decoration: none;
  font-family: "poiret one", sans-serif;
  font-weight: 700;
}
.book:hover {
  color: black;
  font-weight: 1000;
  transform: scale(1.1);
}
.join {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-family: "poiret one", sans-serif;
  font-weight: 700;
}
.join:hover {
  color: black;
  font-weight: 1000;
  transform: scale(1.1);
}
#mtnsection {
  width: 100%;
  float: left;
  height: auto;
  contain: content;
  margin-bottom: 50px;
}
#mtns {
  width: 60%;
  position: relative;
  z-index: 1;
}
img.mountains {
  width: 120%;
  margin-left: 8%;
  border-radius: 10px;
}
#msg {
  background-color: #b09191;
  width: 50%;
  float: right;
  padding: 20px;
  margin-top: -290px;
  margin-right: 6%;
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 10px;
}
.msg h2 {
  color: black;
  font-family: "poiret one", sans-serif;
  font-weight: 700;
}
.msg p {
  color: black;
}
.gallery {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.gallery-item {
  text-align: center;
}
.gallery-item img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  border-width: 10px;
  border-color: rgb(138, 114, 81);
  border-style: solid;
  transition: transform 0.5s;
}
.gallery-item img:hover {
  border-color: rgb(141, 61, 61);
  transform: scale(1.1);
}
.text-box {
  margin-top: 10px;
  font-family: "poiret one", sans-serif;
  font-weight: 700;
}
#footer {
  background-color: rgb(140, 114, 81);
  color: black;
  float: left;
  padding: 5%;
  width: 100%;
}
#footer a {
  color: black;
  text-decoration: none;
}
#footertext {
  width: 50%;
  float: left;
}
#social {
  width: 40%;
  float: right;
  border-radius: 10px;
}
#social img {
  float: left;
  margin-right: 5%;
  border-radius: 50px;
  transition: transform 0.5s;
}
#social img:hover {
  transform: scale(1.2);
}
footer a:hover {
  color: black;
}
footer p {
  font-size: 1.2em;
  font-family: "poiret one", sans-serif;
  font-weight: 700;
}
footer p a:hover {
  text-decoration: underline;
}
